# general file types
*.png
*.txt
*.lhe.gz
*.lhe
*.hep.gz
*.hep
*.root
*.log
*.h5
*.out

lib*.so

# specific binaries
/Example*
hepmc2pileup
lhco2root
pileup2root
root2lhco
root2pileup
stdhep2pileup
DelphesHepMC
DelphesLHEF
DelphesSTDHEP

# output folders
/tmp/
/Parametrisation
/output/

# specific files
.DS_Store
/output
